<div class="page-header">Posts Page</div>

<div class="posts">
  {{#each posts}}
    <div class="post">
      <div class="title">{{title}}</div>
      <div class="content">{{{content}}}</div>
    </div>
  {{/each}}
</div>
