<div class="toolbar"></div>

<div class="sidebar">
  <ul>
    <li><a href="#">Home</a></li>
    {{#link-to 'posts'}}<li>Posts</li>{{/link-to}}
    <li><a href="#">Pages</a></li>
    <li><a href="#">Settings</a></li>
  </ul>
</div>

<div class="mainContent">
  {{outlet}}
</div>
